body{
	font-size: 12px;
}
#input{
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	outline: 0;
}
#button{
	background-color: #f78e1e;
	background-image: -moz-linear-gradient(#f78e1e,#e47513);
	background-image: -o-linear-gradient(#f78e1e,#e47513);
	background-image: -ms-linear-gradient(#f78e1e,#e47513);
	-cp-background-image: linear-gradient(#f78e1e,#e47513);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f78e1e),to(#e47513));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F78E1E',EndColorStr='#E47513',GradientType=0);
	border: 1px solid #c60;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 25px;
	width: auto;
	overflow: visible;
}

a{
	text-decoration:none;
	color:#0000FF;
	font-weight:bold;
}
table.main{
	border:1px solid #0099CC;
	border-radius: 3px;
}
th{
	color:#FFFFFF;
	background-color:#0099CC;
	padding:3px;
}

#title{

}
